# Python
__pycache__
*.pyc
*.egg-info
dist
.venv
.env

# Log
*.log
*.log.*
*.json
!playground/deepspeed_config_s2.json
!playground/deepspeed_config_s3.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
THUDM
lmsys
start.sh

# Data
*.pkl
*.csv
tests/state_of_the_union.txt

# Build
build
